<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<input type="text" data-ng-model="vm.input.searchparm">
			<input type="button" class="btn btn-primary" value="suchen" data-ng-click="vm.executeSearch(vm.input.searchparm)">
		</div>
	</div>
</div>